@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";
 
body{
  direction: rtl;
  background: url(../public/back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.navbar{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    header{
      max-width: 90%;
      padding: 0;
    }
  }
  .main_layout{
    padding-top: 40px;
    max-width: 90%;
    margin: 0 auto;
  }

  // Colors
$black: #0b1a2d;
$gray: #868c94;
$grayBg: #f1f3f5;

.sidebar-spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 99999999;
  padding-top: 400px;
  text-align: center;
  max-width: 400px;
}

.water-mark-logo {
  // background-image: url("../../static/assets/img/logo-water-mark.svg") !important;
}

.complain-container {
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-color: #f1f3f5;
  width: 100%;
  padding: 10px;

  button {
    background-color: transparent !important;
    border: none;
    box-shadow: none !important;
    color: #2e59cc !important;
  }
}

.offer-complain {
  position: relative;
}

.sidebar {
  font-family: "GE SS Tow Medium";
  background: #ffffffab;
  text-align: right;
  padding: 1em 2em;
  position: relative;
  max-height: 80vh;
  overflow-y: auto; 
  max-height: 100%;
  min-height: 775px;
  // &.fixed-sidebar {
  //   height: 100%;
  //   overflow: auto;
  // }
  /* width */
&::-webkit-scrollbar {
  width: 7px;
}

/* Track */
&::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
&::-webkit-scrollbar-thumb {
  background: #dedede;
}

/* Handle on hover */
&::-webkit-scrollbar-thumb:hover {
  background: #c2c2c2;
}
}
.LandRealStateInfo {
  text-align: right;
  .city-title {
    color: $black;
    font-size: 23px;
    font-family: "Almarai";
    font-weight: 700;
  }
  .neighborhood-title {
    color: #979797;
    font-size: 14px;
    font-family: "Almarai";
    font-weight: 400;
  }
}

.total-analyses {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  float: right;
  overflow: hidden;
  direction: rtl;
  text-align: right;
  width: 100%;
  margin-bottom: 0.7em;
  .analyses-card {
    background-color: #fff;
    width: 48%;
    border-radius: 5px;
    text-align: right;
    padding: 1em 0.8em;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 70px;

    .chat-and-number {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 0.2rem;
    }

    .card-title {
      font-size: 13px;
      color: $gray;
      margin: 0;
    }
    .card-number {
      font-size: 14px;
      margin-left: 0.3em;
      display: inline-block;
    }
    .GBL {
      font-family: "GE SS Tow Medium";
    }
    .peasant {
      font-size: 12px;
      display: inline-flex;
      align-items: center;
      width: auto;
      img {
        width: 6px;
        margin-right: 0.4em;
      }
    }
  }
}

.hint-label {
  font-family: "GE SS Tow Medium";
  font-size: 11px;
  margin: 0.7em 0px;
  display: block;
  width: 100%;
  span {
    color: #2c5dd2;
    font-weight: bold;
    display: inline-block;
    margin: 0 0.3em 0 0;
  }
}

// Parcels List
.parcels-list {
  padding-bottom: 1em;
  &_item {
    background: #fff;
    border-radius: 5px;
    margin-top: 1em;
  }

  .item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d8d8d8;
    padding: 12px;
  }

  .parcel-average {
    border-radius: 5px;
    background-color: #eef0f4;
    text-align: center;
    color: #2b5cd2;

    .number {
      font-family: "Futura-Heavy";
      font-weight: bold;
      font-size: 15px;
      border-radius: 0 0 8px 8px;
      padding: 3px 10px;
    }

    .CS {
      font-weight: bold;
      font-size: 15px;
      font-family: "GE SS Unique Bold";
      margin-right: 0.2em;
    }
    .card-title {
      border-radius: 5px 5px 0 0;
      font-size: 12px;
      font-family: "GE SS Tow Medium";
      margin: 0;
      padding: 8px 10px 0;
    }
  }

  .gather {
    position: relative;
    padding-right: 55px;

    .image-icon {
      width: 48px;
      margin-bottom:-10px;
      height: 48px;
      border-radius: 5px;
      position: absolute;
      right: 0;
      padding: 0.7em;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    img {
      max-width: 24px;
    }

    .title {
      font-size: 17px;
      color: $black;
      margin-bottom: 0.3em;
    }

    .parcels-total-section {
      font-size: 14px;
      color: $gray;
      .number {
        margin-right: 0.2em;
      }
    }
  }
  .item-content {
    padding: 1em;
    position: relative;
  }
  .item-info-card {
    .price {
      color: $black;
      font-size: 14px;
      margin-bottom: 0.3em;
      .CS {
        margin-right: 0.3em;
      }
    }
    .card-title {
      margin: 0;
      font-size: 12px;
      color: $gray;
    }
    &.total-parcels {
      position: absolute;
      left: 1em;
      top: 1em;
      text-align: left;
    }

    .last-date {
      font-family: "Futura-Medium";
    }
  }
}

.sidebar-section {
  margin-bottom: 1.5em;
  .title {
    margin-bottom: 1em;
    h3 {
      font-size: 16px;
      font-family: "Almarai";
      font-weight: 700;
    }
  }

  .verificationItem {
    font-family: "Almarai";
  }

  .section-container {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 1em;
  }

  .organization-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .organization-details {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 80%;
      img {
        border-radius: 5px;
        margin-left: 1rem;
      }
      .organization-name {
        font-family: "Almarai";
        color: $black;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        font-weight: 700;

        .organization-section-title {
          color: #707070;
          font-family: "Almarai";
          font-weight: 400;
          font-size: 12px;
        }
      }
    }

    .organization-call-btn {
      background-color: #2780c4;
      color: white;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-family: "Almarai";
      font-weight: 400;
      padding: 10px 1rem;
      border-radius: 5px;
    }
  }
}

.parcels-list-title {
  font-size: 16px;
  color: $black;
  margin-top: 0.8em;
}

.parcels-details-list {
  &__item {
    position: relative;
    color: $black;
    background: #fff;
    border-radius: 5px;
    margin: 3rem 0px;

    .item-header {
      margin: 1rem 0px;
      display: flex;
      justify-content: space-between;

      .parcel-number {
        font-size: 14px;
        font-weight: 700;
        font-family: "Almarai";
      }
      .parcel-cat {
        border-radius: 5px;
        font-size: 13px;
        margin-bottom: 0.5em;
        color: #707070;
        font-family: "Almarai";
        display: flex;
        span {
          color: $black;
          display: flex;
          align-items: center;
          justify-content: space-between;
          min-width: 110px;
        }
      }

      .parcel-indicator {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: #efefef;
        display: flex;
        justify-content: center;
        align-items: center;

        .indicator-icon {
          width: 33px;
          height: 18px;
        }
      }

      .area {
        color: $gray;
        font-size: 13px;
        font-family: "Almarai";
      }
      .number {
        margin-right: 0.4em;
        color: $black;
        font-family: "Almarai";
      }
      .sudo,
      sup {
        color: $black;
      }
    }

    .parcel-info-list {
      padding: 0 !important;
      border: 1px solid #dee3e6;
      border-radius: 5px;
    }
    .block-info {
      width: 100%;
      padding: 0.9em;

      &:not(:last-child) {
        border-left: 1px solid #dee3e6;
      }
      .info-title {
        color: #858c96;
        font-family: "Almarai";
        font-size: 14px;
        margin-bottom: 0.5em;
        white-space: nowrap;
      }
      .info-value {
        font-size: 14px;
        font-family: "Almarai";

        sup {
          font-family: "Futura-Medium";
        }

        .CS {
          font-family: "Almarai";
          margin-right: 0.3em;
        }
      }
    }
    .content-section {
      display: flex;
      justify-content: space-between;
      &:last-child {
        border-top: 1px solid #dee3e6;
      }
    }
  }
}

// .scroll-indicator {
//   display: none;
//   img {
//     width: 50px;
//     position: absolute;
//     left: 0;
//     right: 0;
//     top: 0;
//     margin: 2em auto 0;
//     animation: MoveUpDown 1s linear infinite;
//     z-index: 8;
//   }
// }

.no-data {
  text-align: center;
  font-size: 18px;
  margin-top: 2em;
}
@keyframes MoveUpDown {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: 20px;
  }
}

.share-parcel {
  position: absolute;
  left: 0;
  top: 30%;

  i {
    font-size: 16px;
    color: #007bff;
  }

  span {
    color: $black;
    font-size: 12px;
    margin-left: 0.6em;
  }
}

.LandRealStateInfo {
  .Info-piece {
    position: relative;
  }
}

// #area-view,
// #parcel-view {
//   width: 100%;
//   overflow: scroll;
// }

// #area-view::-webkit-scrollbar,
// #parcel-view::-webkit-scrollbar {
//   display: none !important;
// }

// .recharts-wrapper {
//   direction: ltr;
//   font-family: "Futura-Medium";
//   width: 106% !important;

//   > svg {
//     width: 100%;
//   }
// }

.chart-block {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 1em;
  margin-bottom: 1em;
}
.chart-block .chart-label {
  width: 10px;
  height: 10px;
  margin-left: 0.5em;
}

.offer-section {
  overflow: auto;
  width: 100%;
  .content-section {
    width: 100%;
    overflow: auto;
  }
  // .content-section::-webkit-scrollbar {
  //   display: none;
  // }
}
// .offer-section::-webkit-scrollbar {
//   display: none;
// }
@media screen and (max-width: 700px) {
  .offer-actions a {
    white-space: normal;
  }
  .expand-btn {
    display: none;
  }
  .handleContainer {
    z-index: 8;
  }
  .sidebar-spinner {
    max-width: unset;
  }
  // .sidebar {
  //   z-index: 9;
  //   min-height: 100%;
  //   margin-top: calc(75vh);
  //   border-radius: 15px 15px 0 0;
  //   padding: 1em 1em 5em;
  //   position: relative;
  //   width: 100% !important;
  //   max-width: 100% !important;

  //   &.fixed-top {
  //     height: 100%;
  //     overflow: auto;
  //   }

  //   .LandRealStateInfo {
  //     .Info-piece {
  //       .city-title {
  //         margin-left: 0.5em;
  //       }
  //     }
  //   }

  //   // .scroll-indicator {
  //   //   display: block;
  //   // }
  // }
  // #area-view,
  // #parcel-view.selected {
  //   margin-top: 2em;
  // }
  #button-back {
    margin-top: -1em;
    display: block;
  }

  .offer-section {
    .call-btn {
      width: 100%;
    }
    .LandInfo {
      padding: 1em 0 2em;
      background: none;
    }
    .offer-details {
      padding: 0;
    }
  }

  .Footer {
    display: none;
  }
}

@media screen and (max-width: 325px) {
  .logo {
    img {
      width: 90px;
      margin-top: 0;
    }
  }
  .navbar-toggler-icon {
    width: 1.3rem;
  }
  .header {
    padding: 0;
    min-height: inherit;
  }

  // .scroll-indicator img {
  //   width: 40px;
  // }
  .LandRealStateInfo {
    margin-top: 0;
    .city-title {
      font-size: 21px;
    }
  }
  .total-analyses {
    .analyses-card {
      height: 90px;
      .card-title {
        font-size: 12px;
        margin-bottom: 0.5em;
      }
      .card-number {
        font-size: 13px;
        margin-left: 0.3em;
        display: inline-block;
      }
    }
  }
  .parcels-list {
    .gather {
      .title {
        font-size: 15px;
      }
      .parcels-total-section {
        font-size: 12px;
        margin-top: 0.7em;
      }
    }
    .parcel-average {
      .card-title {
        font-size: 11px;
      }
      .number {
        font-size: 13px;
      }
    }
    .item-info-card .last-date {
      display: block;
      margin-top: 0.3em;
    }
  }
  .hint-label {
    font-size: 10px;
  }
  .parcel-type {
    .type-icon {
      width: 45px;
      height: 45px;
    }
    .type-title {
      font-size: 18px;
    }
  }
  .parcel-info {
    .block-value {
      font-size: 18px;
    }
    .block-title {
      font-size: 11px;
    }
  }
  .total-area {
    .area-title {
      font-size: 14px;
    }
    .area-value {
      font-size: 15px;
    }
  }
}
.map-box{
  border-radius: 5px;
  overflow: hidden;
}
/* Add this to your CSS or use a separate stylesheet */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
