@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  direction: rtl;
  background: url(../public/back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.navbar {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.navbar header {
  max-width: 90%;
  padding: 0;
}

.main_layout {
  padding-top: 40px;
  max-width: 90%;
  margin: 0 auto;
}

.sidebar-spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 99999999;
  padding-top: 400px;
  text-align: center;
  max-width: 400px;
}

.complain-container {
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-color: #f1f3f5;
  width: 100%;
  padding: 10px;
}
.complain-container button {
  background-color: transparent !important;
  border: none;
  box-shadow: none !important;
  color: #2e59cc !important;
}

.offer-complain {
  position: relative;
}

.sidebar {
  font-family: "GE SS Tow Medium";
  background: rgba(255, 255, 255, 0.6705882353);
  text-align: right;
  padding: 1em 2em;
  position: relative;
  max-height: 80vh;
  overflow-y: auto;
  max-height: 620px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.sidebar::-webkit-scrollbar {
  width: 7px;
}
.sidebar::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.sidebar::-webkit-scrollbar-thumb {
  background: #dedede;
}
.sidebar::-webkit-scrollbar-thumb:hover {
  background: #c2c2c2;
}

.LandRealStateInfo {
  text-align: right;
}
.LandRealStateInfo .city-title {
  color: #0b1a2d;
  font-size: 23px;
  font-family: "Almarai";
  font-weight: 700;
}
.LandRealStateInfo .neighborhood-title {
  color: #979797;
  font-size: 14px;
  font-family: "Almarai";
  font-weight: 400;
}

.total-analyses {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  float: right;
  overflow: hidden;
  direction: rtl;
  text-align: right;
  width: 100%;
  margin-bottom: 0.7em;
}
.total-analyses .analyses-card {
  background-color: #fff;
  width: 48%;
  border-radius: 5px;
  text-align: right;
  padding: 1em 0.8em;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 70px;
}
.total-analyses .analyses-card .chat-and-number {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.2rem;
}
.total-analyses .analyses-card .card-title {
  font-size: 13px;
  color: #868c94;
  margin: 0;
}
.total-analyses .analyses-card .card-number {
  font-size: 14px;
  margin-left: 0.3em;
  display: inline-block;
}
.total-analyses .analyses-card .GBL {
  font-family: "GE SS Tow Medium";
}
.total-analyses .analyses-card .peasant {
  font-size: 12px;
  display: inline-flex;
  align-items: center;
  width: auto;
}
.total-analyses .analyses-card .peasant img {
  width: 6px;
  margin-right: 0.4em;
}

.hint-label {
  font-family: "GE SS Tow Medium";
  font-size: 11px;
  margin: 0.7em 0px;
  display: block;
  width: 100%;
}
.hint-label span {
  color: #2c5dd2;
  font-weight: bold;
  display: inline-block;
  margin: 0 0.3em 0 0;
}

.parcels-list {
  padding-bottom: 1em;
}
.parcels-list_item {
  background: #fff;
  border-radius: 5px;
  margin-top: 1em;
}
.parcels-list .item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d8d8d8;
  padding: 12px;
}
.parcels-list .parcel-average {
  border-radius: 5px;
  background-color: #eef0f4;
  text-align: center;
  color: #2b5cd2;
}
.parcels-list .parcel-average .number {
  font-family: "Futura-Heavy";
  font-weight: bold;
  font-size: 15px;
  border-radius: 0 0 8px 8px;
  padding: 3px 10px;
}
.parcels-list .parcel-average .CS {
  font-weight: bold;
  font-size: 15px;
  font-family: "GE SS Unique Bold";
  margin-right: 0.2em;
}
.parcels-list .parcel-average .card-title {
  border-radius: 5px 5px 0 0;
  font-size: 12px;
  font-family: "GE SS Tow Medium";
  margin: 0;
  padding: 8px 10px 0;
}
.parcels-list .gather {
  position: relative;
  padding-right: 55px;
}
.parcels-list .gather .image-icon {
  width: 48px;
  height: 48px;
  border-radius: 5px;
  position: absolute;
  right: 0;
  padding: 0.7em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parcels-list .gather img {
  max-width: 24px;
}
.parcels-list .gather .title {
  font-size: 17px;
  color: #0b1a2d;
  margin-bottom: 0.3em;
}
.parcels-list .gather .parcels-total-section {
  font-size: 14px;
  color: #868c94;
}
.parcels-list .gather .parcels-total-section .number {
  margin-right: 0.2em;
}
.parcels-list .item-content {
  padding: 1em;
  position: relative;
}
.parcels-list .item-info-card .price {
  color: #0b1a2d;
  font-size: 14px;
  margin-bottom: 0.3em;
}
.parcels-list .item-info-card .price .CS {
  margin-right: 0.3em;
}
.parcels-list .item-info-card .card-title {
  margin: 0;
  font-size: 12px;
  color: #868c94;
}
.parcels-list .item-info-card.total-parcels {
  position: absolute;
  left: 1em;
  top: 1em;
  text-align: left;
}
.parcels-list .item-info-card .last-date {
  font-family: "Futura-Medium";
}

.sidebar-section {
  margin-bottom: 1.5em;
}
.sidebar-section .title {
  margin-bottom: 1em;
}
.sidebar-section .title h3 {
  font-size: 16px;
  font-family: "Almarai";
  font-weight: 700;
}
.sidebar-section .verificationItem {
  font-family: "Almarai";
}
.sidebar-section .section-container {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 1em;
}
.sidebar-section .organization-contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.sidebar-section .organization-contact .organization-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
}
.sidebar-section .organization-contact .organization-details img {
  border-radius: 5px;
  margin-left: 1rem;
}
.sidebar-section .organization-contact .organization-details .organization-name {
  font-family: "Almarai";
  color: #0b1a2d;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  font-weight: 700;
}
.sidebar-section .organization-contact .organization-details .organization-name .organization-section-title {
  color: #707070;
  font-family: "Almarai";
  font-weight: 400;
  font-size: 12px;
}
.sidebar-section .organization-contact .organization-call-btn {
  background-color: #2780c4;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Almarai";
  font-weight: 400;
  padding: 10px 1rem;
  border-radius: 5px;
}

.parcels-list-title {
  font-size: 16px;
  color: #0b1a2d;
  margin-top: 0.8em;
}

.parcels-details-list__item {
  position: relative;
  color: #0b1a2d;
  background: #fff;
  border-radius: 5px;
  margin: 3rem 0px;
}
.parcels-details-list__item .item-header {
  margin: 1rem 0px;
  display: flex;
  justify-content: space-between;
}
.parcels-details-list__item .item-header .parcel-number {
  font-size: 14px;
  font-weight: 700;
  font-family: "Almarai";
}
.parcels-details-list__item .item-header .parcel-cat {
  border-radius: 5px;
  font-size: 13px;
  margin-bottom: 0.5em;
  color: #707070;
  font-family: "Almarai";
  display: flex;
}
.parcels-details-list__item .item-header .parcel-cat span {
  color: #0b1a2d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 110px;
}
.parcels-details-list__item .item-header .parcel-indicator {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parcels-details-list__item .item-header .parcel-indicator .indicator-icon {
  width: 33px;
  height: 18px;
}
.parcels-details-list__item .item-header .area {
  color: #868c94;
  font-size: 13px;
  font-family: "Almarai";
}
.parcels-details-list__item .item-header .number {
  margin-right: 0.4em;
  color: #0b1a2d;
  font-family: "Almarai";
}
.parcels-details-list__item .item-header .sudo,
.parcels-details-list__item .item-header sup {
  color: #0b1a2d;
}
.parcels-details-list__item .parcel-info-list {
  padding: 0 !important;
  border: 1px solid #dee3e6;
  border-radius: 5px;
}
.parcels-details-list__item .block-info {
  width: 100%;
  padding: 0.9em;
}
.parcels-details-list__item .block-info:not(:last-child) {
  border-left: 1px solid #dee3e6;
}
.parcels-details-list__item .block-info .info-title {
  color: #858c96;
  font-family: "Almarai";
  font-size: 14px;
  margin-bottom: 0.5em;
  white-space: nowrap;
}
.parcels-details-list__item .block-info .info-value {
  font-size: 14px;
  font-family: "Almarai";
}
.parcels-details-list__item .block-info .info-value sup {
  font-family: "Futura-Medium";
}
.parcels-details-list__item .block-info .info-value .CS {
  font-family: "Almarai";
  margin-right: 0.3em;
}
.parcels-details-list__item .content-section {
  display: flex;
  justify-content: space-between;
}
.parcels-details-list__item .content-section:last-child {
  border-top: 1px solid #dee3e6;
}

.no-data {
  text-align: center;
  font-size: 18px;
  margin-top: 2em;
}

@keyframes MoveUpDown {
  0%, 100% {
    top: 0;
  }
  50% {
    top: 20px;
  }
}
.share-parcel {
  position: absolute;
  left: 0;
  top: 30%;
}
.share-parcel i {
  font-size: 16px;
  color: #007bff;
}
.share-parcel span {
  color: #0b1a2d;
  font-size: 12px;
  margin-left: 0.6em;
}

.LandRealStateInfo .Info-piece {
  position: relative;
}

.chart-block {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 1em;
  margin-bottom: 1em;
}

.chart-block .chart-label {
  width: 10px;
  height: 10px;
  margin-left: 0.5em;
}

.offer-section {
  overflow: auto;
  width: 100%;
}
.offer-section .content-section {
  width: 100%;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .offer-actions a {
    white-space: normal;
  }
  .expand-btn {
    display: none;
  }
  .handleContainer {
    z-index: 8;
  }
  .sidebar-spinner {
    max-width: unset;
  }
  #button-back {
    margin-top: -1em;
    display: block;
  }
  .offer-section .call-btn {
    width: 100%;
  }
  .offer-section .LandInfo {
    padding: 1em 0 2em;
    background: none;
  }
  .offer-section .offer-details {
    padding: 0;
  }
  .Footer {
    display: none;
  }
}
@media screen and (max-width: 325px) {
  .logo img {
    width: 90px;
    margin-top: 0;
  }
  .navbar-toggler-icon {
    width: 1.3rem;
  }
  .header {
    padding: 0;
    min-height: inherit;
  }
  .LandRealStateInfo {
    margin-top: 0;
  }
  .LandRealStateInfo .city-title {
    font-size: 21px;
  }
  .total-analyses .analyses-card {
    height: 90px;
  }
  .total-analyses .analyses-card .card-title {
    font-size: 12px;
    margin-bottom: 0.5em;
  }
  .total-analyses .analyses-card .card-number {
    font-size: 13px;
    margin-left: 0.3em;
    display: inline-block;
  }
  .parcels-list .gather .title {
    font-size: 15px;
  }
  .parcels-list .gather .parcels-total-section {
    font-size: 12px;
    margin-top: 0.7em;
  }
  .parcels-list .parcel-average .card-title {
    font-size: 11px;
  }
  .parcels-list .parcel-average .number {
    font-size: 13px;
  }
  .parcels-list .item-info-card .last-date {
    display: block;
    margin-top: 0.3em;
  }
  .hint-label {
    font-size: 10px;
  }
  .parcel-type .type-icon {
    width: 45px;
    height: 45px;
  }
  .parcel-type .type-title {
    font-size: 18px;
  }
  .parcel-info .block-value {
    font-size: 18px;
  }
  .parcel-info .block-title {
    font-size: 11px;
  }
  .total-area .area-title {
    font-size: 14px;
  }
  .total-area .area-value {
    font-size: 15px;
  }
}
.map-box {
  border-radius: 5px;
  overflow: hidden;
}/*# sourceMappingURL=globals.css.map */